body{
    margin:0px;
    padding:0px;
}

.container{
                width:320px;
                background-color:rgba(9, 196, 243, 0.781);
                margin:auto;
                border-radius:10px;
                position:relative;
                top:100px;
            }
            .box
            {
            padding:10px;
            width:300px;
            box-sizing:border-box;
            background:transparent;
            border:none;
            outline:none;
            border-bottom:2px solid rgb(255, 0, 140);
            }

        input,select, button{
            margin:10px;
        } 

#first1
{
    width:700px;
display:none;
position:relative;
margin:auto;
top:100px;

}
.flex-container {   
    display:flex;
    width:740px;
    text-align:center;
}
.flex-items {
background-color: #41f1bcb0;
margin: 10px;
padding: 10px;
font-size: 30px;
border-radius:10px;
}
.flex-container div{
    flex:1;
}
.flex-container div:nth-of-type(2){
    flex-grow: 3;

}
#first
{
    width:50px;
    margin:auto;
    position:relative;
    top:100px;
}
button{
    background:rgb(3, 190, 97);
    height:30px;
    border:none;
    outline:none;
    border-radius:10px;
    width:65px;
    color:rgb(255, 255, 255);
    
}
#finald1
{
    display:none;
}